
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form class="form-control" method="post" enctype="multipart/form-data">
    <input type="file" name="dosya" class="form-control" />
    <button class="btn btn-success">Dosyayı Kaydet</button>
</form>
