@using MvcKutuphane.Models.Entity
@model List<Tbl_Duyurular>
@{
    ViewBag.Title = "DuyuruOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var alertControl = ViewBag.result == "success" ? "alert-success" : "alert-danger";
    var alertMsj = ViewBag.result == "success" ? "Duyuru Gönderildi" : "Duyuru Oluşturulamadı !";

}



<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input, select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

            input[type=submit] {
                background-color: #04AA6D;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

                input[type=submit]:hover {
                    background-color: #45a049;
                }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>
<body>
    @if (ViewBag.result != "")
    {
        <br />
        <div id="alert" class="w-50 m-auto mt-5 text-center alert @alertControl" role="alert">
            @alertMsj
        </div>
    }

    @if (ViewBag.guncelle != "guncelle")
    {
        <a class="btn btn-info" href="DuyuruOlustur?islem=guncelle">Duyuruları Güncelle</a>
        <div class="container mt-5">
            <form method="post">
                <label for="lname">KONU BAŞLIĞI</label>
                <input type="text" id="lname" name="DUYUBASLIK" placeholder="KONU BAŞLIĞI">

                <label for="subject">İçerik</label>
                <textarea id="subject" name="DUYURUICERIK" placeholder="İçerik Yazısı" style="height:200px"></textarea>

                <input type="submit" value="Duyuruyu Gönder">
            </form>
        </div>
    }
    else
    {
        <div class="container mt-5">
            <form method="post">
                <input type="hidden" name="islem" value="guncelle" />
                <select class="form-control" name="DUYUBASLIK">
                    @foreach (var item in Model)
                    {
                        <option value="@item.DUYUBASLIK">@item.DUYUBASLIK</option>
                    }
                </select>
                <label>Duyuru Başlığı *</label>
                <input class="form-control" name="newTitle" />
                <label for="subject">İçerik</label>
                <textarea id="subject" name="DUYURUICERIK" placeholder="İçerik Yazısı" style="height:200px"></textarea>
                <input type="submit" value="Duyuruyu Güncelle">
            </form>
        </div>
    }

</body>
</html>


<script>
    setTimeout(() => {
        $("#alert").hide(1500);
    }, 1500);

</script>