@using MvcKutuphane.Models.Entity
@model MvcKutuphane.Models.Entity.Tbl_Yazar
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form class="form-group text-center mt-5 ml-5 mr-5 mb-5" method="post">
    <label>Yazar Adı</label>
    @Html.TextBoxFor(y => y.AD, new { @class = "form-control w-50 m-auto", required = "required" })
    <br />
    <label>Yazar Soyadi</label>
    @Html.TextBoxFor(y => y.SOYAD, new { @class = "form-control w-50 m-auto", required = "required" })
    <br />
    <label>Yazar Detay</label>
    @Html.TextAreaFor(y => y.DETAY, new { @class = "form-control w-50 m-auto", required = "required" })
    <br />
    <button class="btn btn-info">Yazar Ekle</button>


</form>