@using MvcKutuphane.Models.Entity
@model List<Tbl_Personel>
@{
    ViewBag.Title = "PersonelListe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mt-4 mb-5">Personel Listesi</h2>
<a href="PersonelEkle" class="btn btn-warning mb-3 text-white">Personel Ekle</a>

<table class="table table-hover text-center">
    <thead class="table-dark">
    <th>Personel ID</th>
    <th>Personel Adi Soyadi</th>
    <th>Düzenle</th>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.PERSONEL</td>
                <td class="d-flex justify-content-around">
                    <a href="PersonelGuncelle/@x.ID" class="btn btn-info">Güncelle</a>
                    <a href="PersonelSil/@x.ID" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

